/target
/classes
/checkouts
/resources/public/js/*
/resources/test/*
pom.xml
pom.xml.asc
*.jar
*.class
.cpcache
cljs-test-runner-out
/.lein-*
/.nrepl-port
.hgignore
.hg/
*~
*#
.rebel_readline_history
figwheel_server.log
node_modules/
out/
package-lock.json
