;; shadow-cljs configuration
{:deps {:aliases [:shadow]}
 :builds
 {;; Runs shadow node-test
  ;; `npx shadow-cljs compile node-test`
  :node-test {:target :node-test
              :output-to "out/test/vocabulary.js"
              :autorun true
              }
  } ;; /builds
 }
