;; shadow-cljs configuration
{:deps {:aliases [:cljs]}
  :builds
 {;; Runs shadow node-test
  ;; `shadow-cljs compile lib-test`
  :lib-test {:target :node-test
             :output-to "out/test/vocabulary.js"
             :autorun true
             }
  } ;; /builds
}
