{:linters {:missing-docstring {:level :warning}
           :docstring-no-summary {:level :warning}
           :shadowed-var {:level :warning}
           :unused-alias {:level :warning}
           :used-underscored-binding {:level :warning}
           :unsorted-imports {:level :warning}
           :unsorted-required-namespaces {:level :warning}
           :warn-on-reflection {:level :warning}
           }}}}
